<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409178012013-crkpnd58fbrkb5offance0573a4kktjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409178012013-crkpnd58fbrkb5offance0573a4kktjn</string>
	<key>API_KEY</key>
	<string>AIzaSyDnDpu3mZxDpn7DNyPfjV-xKBlGcWe667U</string>
	<key>GCM_SENDER_ID</key>
	<string>409178012013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helavidasa.firebasedemo.firebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>flutter-authentication-a-c11cd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-authentication-a-c11cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409178012013:ios:bf83416275299fac97c264</string>
</dict>
</plist>